* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}
.container {
    width: 550px;
    height: 550px;
    background: #1F2937;
    padding: 0 50px;
}

.container h1 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 115px;
    margin-bottom: 10px;
}

.container h1 span {
    color: #10B981;
    display: block;
}

.container p {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    color: #D5D4D8;
    margin-bottom: 50px;
}