* {
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
    font-family: "Inter", sans-serif;
}
.container {
    width: 550px;
    height: 550px;
    background: #1F2937;
    padding: 0 50px;
}

.container h1 {
    font-family: "Karla", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 40px;
    color: #FFFFFF;
    margin-top: 115px;
    margin-bottom: 10px;
}

.container h1 span {
    color: #10B981;
    display: block;
}

.container p {
    font-size: 20px;
    color: #D5D4D8;
    margin-bottom: 50px;
}

.container button {
    width: 200px;
    font-size: 16px;
    padding: 10px 20px;
    border: 3px solid #10B981;
    border-radius: 5px;
    background: #10B981;
    color: white;
    margin-bottom: 35px;
}

.container button:hover {
    background: #1F2937;
    color: #10B981
}

.container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #2F3E53;
    margin: 1em 0;
    padding: 0;
}